{% extends "base.html" %}

{% block title %}
People List
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center">People List</h1>
    <!-- Wrap table in a div with .table-responsive for a responsive table -->
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                {% for person in all_people %}
                <tr>
                    <td>{{ person.id }}</td>
                    <td>{{ person.first_name }}</td>
                    <td>{{ person.last_name }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.gender }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
